<footer class="text-center text-white rounded">
  <div class="container p-4 pb-0">
    <h4>¡Todxs invitadxs a seguirnos!</h4>
    <section class="mb-4">
      <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;"
        href="https://www.facebook.com/arte.cepeacbrown" role="button" target="_blank"><i class="bi bi-facebook"></i>
        arte.cepeacbrown</a>
      <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;"
        href="https://www.instagram.com/arte.cepeacbrown" role="button" target="_blank"><i class="bi bi-instagram"></i>
        arte.cepeacbrown</a>
      <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;"
        href="https://www.instagram.com/cepeac.brown/" role="button" target="_blank"><i class="bi bi-instagram"></i>
        cepeac.brown</a>
    </section>
  </div>
</footer>