<div class="container text-center text-light rounded shadow-lg fadeIn first">
    <app-cartel></app-cartel>
    <h2>TU RESERVA HA SIDO REALIZADA</h2>
    <div class="res bg-body p-3 rounded fadeIn first border border-warning">
        <h2>Tu Reserva</h2>
        <div class="respueta text-start text-dark">
            <p><b>ID:</b> {{id}}</p>
            <p><b>Nombre:</b> {{reserva.nombre}}</p>
            <p><b>Email:</b> {{reserva.email}}</p>
            <p><b>Teléfono:</b> {{reserva.telefono}}</p>
            <p><b>Reserva para:</b> {{reserva.cantidad}}</p>
        </div>
        <a class="btn btn-danger" (click)="borrarReserva(reserva)">Cancelar Reserva</a>
    </div>
    <p>{{descripcion}}</p>
    <p>{{hora}}</p>
    <img src="./assets/OTROMUNDO LOGO.png" width="150px" class="fadeIn">
    <p>{{direccion}}</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1638.546299750863!2d-58.39217067560406!3d-34.7784440871535!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e809a4ad918d2c0!2sOtromundo!5e0!3m2!1ses-419!2sar!4v1668578137661!5m2!1ses-419!2sar" width="300" height="250" style="border: 5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <a href="https://goo.gl/maps/Nx2jrgujAEBxQPWN9" class="link-light" target="_blank">Ver mapa</a>
    <app-footer></app-footer>
</div>
<app-pantalla-de-carga></app-pantalla-de-carga>