@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Codystar';
}

.neons {
    text-align: center;
}

.neons h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.neons p {
    margin-top: -1rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2;
    }

    to {
        color: rgb(247, 247, 247);
        text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2;
    }
}

@media (max-width:400px) {
    .neons h1 {
        font-size: 1.5rem;
    }

    .neons p {
        font-size: 1rem;
    }
}