@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html,
body {
    position: relative;
    margin: 0;
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Sacramento', cursive;
    font-size: 1rem;
    background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #141414;
}
 .container {
    margin-bottom: 1.5rem;
 }

/*-- Sign Styles --*/

.sign {
    font-family: 'Sacramento', cursive;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        font-size: 5.6rem;
        text-align: center;
        line-height: 1;
        color: #c6e2ff;
        animation: neon .08s ease-in-out infinite alternate;
    }

}

/*-- Animation Keyframes --*/

// animation

@keyframes neon {
    from {
        text-shadow:
            0 0 6px rgba(202, 228, 225, 0.92),
            0 0 30px rgba(202, 228, 225, 0.34),
            0 0 12px rgba(235, 30, 242, 0.52),
            0 0 21px rgba(235, 30, 242, 0.92),
    }

    to {
        text-shadow:
            0 0 6px rgba(202, 228, 225, 0.98),
            0 0 30px rgba(202, 228, 225, 0.42),
            0 0 12px rgba(235, 30, 242, 0.58),
            0 0 22px rgba(235, 30, 242, 0.84),
    }
}
.neons {
    text-align: center;
}

.neons h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.neons p {
    margin-top: -1rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2;
    }

    to {
        color: rgb(247, 247, 247);
        text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2;
    }
}

@media (max-width:400px) {
    .neons h1 {
        font-size: 1.5rem;
    }

    .neons p {
        font-size: 1rem;
    }
}